# name
name: Node.js CI

# trigger on push and manually
on: 
  push:
    branches: ["main"]
  workflow_dispatch:

# jobs/ tasks
jobs:

  # job 1: Build and Test
  build:
    
    name: Build and Test

    # defining the os and node-versions to use
    strategy:
      matrix: 
        os: [ubuntu-latest, windows-latest]
        node-version: [18.x, 20.x]

    # runner
    runs-on: ${{matrix.os}}

    # steps
    steps:
    
    - uses: actions/checkout@v4
    
    - name: Use Node.js ${{ matrix.node-version}}
      uses: actions/setup-node@v4
      with:
        node-version: ${{matrix.node-version}}
        cache: 'npm'
    
    - name: Install dependencies
      run: npm ci

    - name: Run scripts
      run: npm test
        
    
