# name
name: Node.js CI

# trigger on push and manually
on: 
  push:
    branches: ["main"]
  workflow_dispatch:

# jobs/ tasks
jobs:

  # job 1: Build and Test
  build:
    
    name: Build and Test

    # defining the os and node versions to use
    strategy:
      matrix: 
        os: [ubuntu-latest, windows-latest]
        node-version: [18.x, 20.x]

    # runner
    runs-on: ${{matrix.os}}

    # steps
    steps:
    
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Use Node.js ${{matrix.node-version}}
      uses: actions/setup-node@v4
      with:
        node-version: ${{matrix.node-version}}
        cache: 'npm'
    
    - name: Install dependencies
      run: npm install

    - name: Run scripts
      run: npm test

  # job 2: scanning with snyk
  snyk-scan:

    name: Snyk Security Scan
    needs: build  # to ensure this runs after build job is successful
    runs-on: ubuntu-latest

    # permissions necessary for snyk
    permissions:
      contents: read  # required to check code
      security-events: write  # required to upload results on snyk

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: npm install

    - name: Run Snyk
      uses: snyk/actions/node@master
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        args: --sarif-file-output=snyk-results.sarif

    - name: Upload Snyk results to GitHub security tab
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: 'snyk-results.sarif'
        
    
